
.App {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 8rem;
    min-height: 100vh;
    flex: 1 0 0;
}

.header {
    padding: 2rem 0 0 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.footer {
    padding: 0 0 2rem 0;
    margin-top: auto;
}
