@use '../../scss/colors' as colors;
@use '../../scss/mixins.module' as mixins;

.footerWrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-self: stretch;
    @include mixins.fontStyle(colors.$primary-muted, 0.75rem, normal, 400, normal);

    .footerLeft {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        flex: 1 0 0;

        .pp {
            text-decoration: none;
            color: colors.$primary-primary;
            transition: all 0.3s ease;
            text-decoration: solid underline transparent;
            &:hover {
                color: colors.$indigo-indigo-600;
                text-decoration: underline;
                text-decoration-color: colors.$indigo-indigo-600;
            }
        }
    }

    .footerRight {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}