@use '../../scss/colors' as colors;
@use '../../scss/mixins.module' as mixins;


@media (max-width: 1200px) {
    .landingPageWrap {
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        .imagesWrap {
            .burger {
                background-position: center;
            }
            .burgerBackground {
                width: 100%;
                height: 100%;
                background-position: center;
            }
            .makeBurgerWrap { 
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

@media (min-width: 576px) {
    .burger {
        background-size: contain;
    }
    .makeBurgerWrap { 
        width: calc(11.25rem/1.2);
        height: calc(11.25rem/1.2);
        @include mixins.fontStyle(colors.$primary-white, 1.5rem, normal, 800, 1.875rem);
    }
}

@media (max-width: 576px) {
    .burger {
        background-size: cover;
    }

    .makeBurgerWrap { 
        width: 7.5rem;
        height: 7.5rem;
        @include mixins.fontStyle(colors.$primary-white, 1rem, normal, 800, 1.25rem);
    }
}

@media (min-width: 1200px) {
    .landingPageWrap {
        gap: 25%;

        .imagesWrap {
            min-width: 35rem;
            .burger {
                background-position: top left;
            }
            .burgerBackground {
                width: 83%;
                height: 83%;
                background-size: contain;
                background-position: bottom left 15%;
                align-self: flex-end;
            }
        }
        .makeBurgerWrap { 
            top: 50%;
            left: calc(-11.25rem/2 - 1rem);
        }
    }

}

.landingPageWrap {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;

    .imagesWrap {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 30rem;

        .burger {
            flex: 1 0 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('/burger.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        .burgerBackground {
            position: absolute;
            background-image: url('/burgerBackground1.png');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .makeBurgerWrap {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 50%;
            background: colors.$primary-primary;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            user-select: none;
            cursor: pointer;
            z-index: 2;
            &:hover {
                background: colors.$indigo-indigo-600;
                box-shadow: none;
            }

            .makeBurger {
                word-spacing: 100vw;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}





























// .landingPageWrap {
//     display: flex;
//     flex: 1 0 0;


//     .textWrap {
//         display: flex;
//         align-items: center;
//         line-break: normal;
//         flex: 1 0 0;
//         height: 100%;

//         .text {
//             @include mixins.fontStyle(colors.$primary-black, 4.5rem, normal, 700, 5rem);
//         }
//     }
//     .burgerWrap {
//         display: flex;
//         position: relative;
//         justify-content: center;
//         flex: 5 0 0;
//         min-height: 27rem;
//         min-width: 30rem;

//         .burger {
//             position: absolute;
//             width: 100%;
//             height: 100%;
            // background-image: url('../../../public/burger.png');
            // background-size: contain;
            // background-repeat: no-repeat;
            // background-position: center -1rem;
//             z-index: 1;
//         }
//         .backgound {
//             width: 100%;
//             height: 100%;
//             position: absolute;
//             background-image: url('../../../public/burgerBackground1.png');
//             background-size: contain;
//             background-repeat: no-repeat;
//             background-position: center;
//             z-index: -1;
//         }
//     }
// }